# Data cleaning:

In [107]:
import html
from bs4 import BeautifulSoup
import pandas as pd
from unidecode import unidecode
data_ACM = pd.read_csv(r'C:\Users\eetuj\OneDrive - TUNI.fi\DILA\groupProject\DILA_project\ACM.csv')
data_DBLP = pd.read_csv(r'C:\Users\eetuj\OneDrive - TUNI.fi\DILA\groupProject\DILA_project\DBLP2_new.csv')
#data_ACM['venue'] = data_ACM['venue'].to_string()

In [108]:
data_ACM['venue'].str.strip()

0                                    International Conference on Management of Data
1                                    International Conference on Management of Data
2                                    International Conference on Management of Data
3                                    International Conference on Management of Data
4                                    International Conference on Management of Data
                                           ...
2289                                                          Very Large Data Bases
2290    The VLDB Journal &mdash; The International Journal on Very Large Data Bases
2291                                                          Very Large Data Bases
2292                                                              ACM SIGMOD Record
2293                                                          Very Large Data Bases
Name: venue, Length: 2294, dtype: object

In [109]:
data_ACM.drop_duplicates(subset=['title', 'authors', 'venue', 'year'],inplace=True)
data_DBLP.drop_duplicates(subset=['title', 'authors', 'venue', 'year'],inplace=True)

In [110]:
data_ACM['authors'] = data_ACM['authors'].apply(lambda x: BeautifulSoup(str(x), "html.parser"))

In [111]:
#data_ACM['venue'] = data_ACM['venue'].apply(lambda x: BeautifulSoup(str(x), "html.parser"))
data_ACM['venue'] = data_ACM['venue'].apply(lambda x: html.unescape(x) if isinstance(x, str) else x)

In [112]:
data_ACM['authors'] = data_ACM['authors'].apply(lambda x: unidecode(str(x)))
data_DBLP['authors'] = data_DBLP['authors'].apply(lambda x: unidecode(str(x)))

In [113]:
data_ACM['title'] = data_ACM['title'].apply(lambda x: x.upper())
data_ACM['authors'] = data_ACM['authors'].apply(lambda x: x.upper())
#data_ACM['venue'] = data_ACM['venue'].str.upper()

In [114]:
data_DBLP['title'] = data_DBLP['title'].apply(lambda x: x.upper())
data_DBLP['authors'] = data_DBLP['authors'].apply(lambda x: x.upper())
#data_DBLP['venue'] = data_DBLP['venue'].str.upper()

In [115]:
data_ACM.replace("Very Large Data Bases", "VLDB", inplace=True)
data_ACM.replace("International Conference on Management of Data", "SIGMOD Conference", inplace=True)
data_ACM.replace("ACM SIGMOD Record ", "SIGMOD Record", inplace=True)
data_ACM.replace("ACM Transactions on Database Systems (TODS) ", "ACM Trans. Database Syst. ", inplace=True)
data_ACM.replace("The VLDB Journal â€” The International Journal on Very Large Data Bases ", "VLDB J.", inplace=True)

In [116]:
data_ACM.drop_duplicates(subset=['title', 'authors', 'venue', 'year'],inplace=True)
data_DBLP.drop_duplicates(subset=['title', 'authors', 'venue', 'year'],inplace=True)

In [117]:
data_ACM.to_csv(r'C:\Users\eetuj\OneDrive - TUNI.fi\DILA\groupProject\DILA_project\ACM3.csv', encoding='utf-8', index=False)
data_DBLP.to_csv(r'C:\Users\eetuj\OneDrive - TUNI.fi\DILA\groupProject\DILA_project\DBLP3.csv', encoding='utf-8', index=False)

In [118]:
print(data_ACM.head(10))
print(data_DBLP.head(10))

       id  \
0  304586
1  304587
2  304589
3  304590
4  304582
5  304583
6  304584
7  304585
8  306112
9  306115

                                                                     title  \
0                     THE WASA2 OBJECT-ORIENTED WORKFLOW MANAGEMENT SYSTEM
1  A USER-CENTERED INTERFACE FOR QUERYING DISTRIBUTED MULTIMEDIA DATABASES
2             WORLD WIDE DATABASE-INTEGRATING THE WEB, CORBA AND DATABASES
3                                 XML-BASED INFORMATION MEDIATION WITH MIX
4                     THE CCUBE CONSTRAINT OBJECT-ORIENTED DATABASE SYSTEM
5                  THE CORNELL JAGUAR PROJECT: ADDING MOBILITY TO PREDATOR
6     THE ACTIVE MULTISYNC CONTROLLER OF THE CUBETREE STORAGE ORGANIZATION
7                                        THE JUNGLE DATABASE SEARCH ENGINE
8            ADEPT: AN AGENT-BASED APPROACH TO BUSINESS PROCESS MANAGEMENT
9              A COMPONENTIZED ARCHITECTURE FOR DYNAMIC ELECTRONIC MARKETS

                                                                                               authors  \
0                                                                      GOTTFRIED VOSSEN, MATHIAS WESKE
1                                                                    ISABEL F. CRUZ, KIMBERLY M. JAMES
2        ATHMAN BOUGUETTAYA, BOUALEM BENATALLAH, LILY HENDRA, JAMES BEARD, KEVIN SMITH, MOURAD QUZZANI
3  CHAITAN BARU, AMARNATH GUPTA, BERTRAM LUDASCHER, RICHARD MARCIANO, YANNIS PAPAKONSTANTINOU, PAVE...
4                                  ALEXANDER BRODSKY, VICTOR E. SEGAL, JIA CHEN, PAVAL A. EXARKHOPOULO
5  PHILLIPPE BONNET, KYLE BUZA, ZHIYUAN CHAN, VICTOR CHENG, RANDOLPH CHUNG, TAKAKO HICKEY, RYAN KEN...
6                                                   NICK ROUSSOPOULOS, YANNIS KOTIDIS, YANNIS SISMANIS
7                                                      MICHAEL BOHLEN, LINAS BUKAUSKAS, CURTIS DYRESON
8                                                             N. R. JENNINGS, T. J. NORMAN, P. FARATIN
9                                                                        BENNY REICH, ISRAEL BEN-SHAUL

               venue  year
0  SIGMOD Conference  1999
1  SIGMOD Conference  1999
2  SIGMOD Conference  1999
3  SIGMOD Conference  1999
4  SIGMOD Conference  1999
5  SIGMOD Conference  1999
6  SIGMOD Conference  1999
7  SIGMOD Conference  1999
8      SIGMOD Record  1998
9      SIGMOD Record  1998
                               id  \
0        journals/sigmod/Mackay99
1            conf/vldb/PoosalaI96
2         conf/vldb/PalpanasSCP02
3          conf/vldb/GardarinGT96
4               conf/vldb/HoelS95
5              conf/sigmod/Keim99
6        journals/sigmod/Ouksel02
7        journals/vldb/Seshadri98
8  journals/sigmod/RamamrithamS97
9      journals/sigmod/DAndreaJ96

                                                                                                 title  \
0  SEMANTIC INTEGRATION OF ENVIRONMENTAL MODELS FOR APPLICATION TO GLOBAL INFORMATION SYSTEMS AND D...
1          ESTIMATION OF QUERY-RESULT DISTRIBUTION AND ITS APPLICATION IN PARALLEL-JOIN LOAD BALANCING
2                                     INCREMENTAL MAINTENANCE FOR NON-DISTRIBUTIVE AGGREGATE FUNCTIONS
3           COST-BASED SELECTION OF PATH EXPRESSION PROCESSING ALGORITHMS IN OBJECT-ORIENTED DATABASES
4                                             BENCHMARKING SPATIAL JOIN OPERATIONS WITH SPATIAL OUTPUT
5                                   EFFICIENT GEOMETRY-BASED SIMILARITY SEARCH OF 3D SPATIAL DATABASES
6                              MINING THE WORLD WIDE WEB: AN INFORMATION SEARCH APPROACH - BOOK REVIEW
7                                          ENHANCED ABSTRACT DATA TYPES IN OBJECT-RELATIONAL DATABASES
8                         REPORT ON DART '96: DATABASES: ACTIVE AND REAL-TIME (CONCEPTS MEET PRACTICE)
9                                UNISQL'S NEXT-GENERATION OBJECT-RELATIONAL DATABASE MANAGEMENT SYSTEM

                                                                  authors  \
0                                                         D. SCOTT MACKAY
1                                  VISWANATH POOSALA, YANNIS E. IOANNIDIS
2  THEMISTOKLIS PALPANAS, RICHARD SIDLE, HAMID PIRAHESH, ROBERTA COCHRANE
3                     ZHAO-HUI TANG, GEORGES GARDARIN, JEAN-ROBERT GRUSER
4                                               ERIK G. HOEL, HANAN SAMET
5                                                          DANIEL A. KEIM
6                                                          ARIS M. OUKSEL
7                                                        PRAVEEN SESHADRI
8                                     NANDIT SOPARKAR, KRITHI RAMAMRITHAM
9                                             PHIL JANUS, ALBERT D'ANDREA

               venue  year
0      SIGMOD Record  1999
1               VLDB  1996
2               VLDB  2002
3               VLDB  1996
4               VLDB  1995
5  SIGMOD Conference  1999
6      SIGMOD Record  2002
7            VLDB J.  1998
8      SIGMOD Record  1997
9      SIGMOD Record  1996

In [119]:
#data_ACM['venue'] = data_ACM['venue'].to_string()

In [120]:
#for col in data_ACM.columns:
#   data_ACM[col] = data_ACM[col].apply(lambda x: html.unescape(x) if isinstance(x, str) else x)

In [121]:
#data_ACM.title.str.lstrip()
#data_ACM.authors.str.lstrip()
#data_ACM.venue.str.lstrip()
#print(data_ACM.loc[2160, 'venue'])
#print(data_ACM.dtypes)

In [122]:
#data_ACM.drop_duplicates(subset=['title', 'authors', 'venue', 'year'],inplace=True)
#data_DBLP.drop_duplicates(subset=['title', 'authors', 'venue', 'year'],inplace=True)

In [123]:
#d2['authors'] = data_ACM.apply(lambda x : x.split(","))
#for i, row in data_ACM.iterrows():
 #   data_ACM.at[i, 'authors'] = data_ACM.at[i, 'authors'].split(",")
#data_ACM['authors'] = data_ACM['authors'].str.split(", ")
#data_ACM['authors'] = data_ACM['authors'].str.split(" ")

In [124]:
#html_data=unicodedata.normalize('NFKD',table.to_html()).encode('ascii','ignore')

# Blocking:

In [125]:
import py_entitymatching as em
em.set_key(data_ACM, 'id')
em.set_key(data_DBLP, 'id')
em.to_csv_metadata(data_ACM, r'C:\Users\eetuj\OneDrive - TUNI.fi\DILA\groupProject\DILA_project\ACM3_meta.csv')
em.to_csv_metadata(data_ACM, r'C:\Users\eetuj\OneDrive - TUNI.fi\DILA\groupProject\DILA_project\DBLP3_meta.csv')

File already exists at C:\Users\eetuj\OneDrive - TUNI.fi\DILA\groupProject\DILA_project\ACM3_meta.csv; Overwriting it
Metadata file already exists at C:\Users\eetuj\OneDrive - TUNI.fi\DILA\groupProject\DILA_project\ACM3_meta.metadata. Overwriting it
File already exists at C:\Users\eetuj\OneDrive - TUNI.fi\DILA\groupProject\DILA_project\DBLP3_meta.csv; Overwriting it
Metadata file already exists at C:\Users\eetuj\OneDrive - TUNI.fi\DILA\groupProject\DILA_project\DBLP3_meta.metadata. Overwriting it

True

In [126]:
ACM = em.read_csv_metadata(r'C:\Users\eetuj\OneDrive - TUNI.fi\DILA\groupProject\DILA_project\ACM3_meta.csv', key='id')
DBLP = em.read_csv_metadata(r'C:\Users\eetuj\OneDrive - TUNI.fi\DILA\groupProject\DILA_project\DBLP3_meta.csv', key='id')

In [127]:
b1 = em.AttrEquivalenceBlocker() # , 'title', 'authors', 'venue', 'year'

In [128]:
C1 = b1.block_tables(ACM, DBLP, 'title', 'title', 
     l_output_attrs=['title', 'authors', 'venue', 'year'], 
     r_output_attrs=['title', 'authors', 'venue', 'year'], allow_missing=True)

C:\Users\eetuj\anaconda3\lib\site-packages\py_entitymatching\blocker\attr_equiv_blocker.py:435: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  l_df['ones'] = np.ones(len(l_df))
C:\Users\eetuj\anaconda3\lib\site-packages\py_entitymatching\blocker\attr_equiv_blocker.py:436: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r_df['ones'] = np.ones(len(r_df))

In [129]:
print(C1)

       _id  ltable_id  rtable_id  \
0        0     304586     304586
1        1     304587     304587
2        2     304589     304589
3        3     304590     304590
4        4     304582     304582
...    ...        ...        ...
2472  2472     950483     950483
2473  2473     672977     672977
2474  2474     672980     672980
2475  2475     945741     945741
2476  2476     672979     672979

                                                                                             ltable_title  \
0                                                    THE WASA2 OBJECT-ORIENTED WORKFLOW MANAGEMENT SYSTEM
1                                 A USER-CENTERED INTERFACE FOR QUERYING DISTRIBUTED MULTIMEDIA DATABASES
2                                            WORLD WIDE DATABASE-INTEGRATING THE WEB, CORBA AND DATABASES
3                                                                XML-BASED INFORMATION MEDIATION WITH MIX
4                                                    THE CCUBE CONSTRAINT OBJECT-ORIENTED DATABASE SYSTEM
...                                                                                                   ...
2472                                                                         A CASE FOR FRACTURED MIRRORS
2473                                                            DUAL-BUFFERING STRATEGIES IN OBJECT BASES
2474                                                   GRAPHDB: MODELING AND QUERYING GRAPHS IN DATABASES
2475  REVIEW OF THE DATA WAREHOUSE TOOLKIT: THE COMPLETE GUIDE TO DIMENSIONAL MODELING (2ND EDITION) B...
2476                                                       BULK LOADING INTO AN OODB: A PERFORMANCE STUDY

                                                                                           ltable_authors  \
0                                                                         GOTTFRIED VOSSEN, MATHIAS WESKE
1                                                                       ISABEL F. CRUZ, KIMBERLY M. JAMES
2           ATHMAN BOUGUETTAYA, BOUALEM BENATALLAH, LILY HENDRA, JAMES BEARD, KEVIN SMITH, MOURAD QUZZANI
3     CHAITAN BARU, AMARNATH GUPTA, BERTRAM LUDASCHER, RICHARD MARCIANO, YANNIS PAPAKONSTANTINOU, PAVE...
4                                     ALEXANDER BRODSKY, VICTOR E. SEGAL, JIA CHEN, PAVAL A. EXARKHOPOULO
...                                                                                                   ...
2472                                                       RAVISHANKAR RAMAMURTHY, DAVID J. DEWITT, QI SU
2473                                                                       ALFONS KEMPER, DONALD KOSSMANN
2474                                                                                  RALF HARTMUT GUTING
2475                                                                                ALEXANDER A. ANISIMOV
2476                                                                 JANET L. WIENER, JEFFREY F. NAUGHTON

           ltable_venue  ltable_year  \
0     SIGMOD Conference         1999
1     SIGMOD Conference         1999
2     SIGMOD Conference         1999
3     SIGMOD Conference         1999
4     SIGMOD Conference         1999
...                 ...          ...
2472            VLDB J.         2003
2473               VLDB         1994
2474               VLDB         1994
2475      SIGMOD Record         2003
2476               VLDB         1994

                                                                                             rtable_title  \
0                                                    THE WASA2 OBJECT-ORIENTED WORKFLOW MANAGEMENT SYSTEM
1                                 A USER-CENTERED INTERFACE FOR QUERYING DISTRIBUTED MULTIMEDIA DATABASES
2                                            WORLD WIDE DATABASE-INTEGRATING THE WEB, CORBA AND DATABASES
3                                                                XML-BASED INFORMATION MEDIATION WITH MIX
4                                                    THE CCUBE CONSTRAINT OBJECT-ORIENTED DATABASE SYSTEM
...                                                                                                   ...
2472                                                                         A CASE FOR FRACTURED MIRRORS
2473                                                            DUAL-BUFFERING STRATEGIES IN OBJECT BASES
2474                                                   GRAPHDB: MODELING AND QUERYING GRAPHS IN DATABASES
2475  REVIEW OF THE DATA WAREHOUSE TOOLKIT: THE COMPLETE GUIDE TO DIMENSIONAL MODELING (2ND EDITION) B...
2476                                                       BULK LOADING INTO AN OODB: A PERFORMANCE STUDY

                                                                                           rtable_authors  \
0                                                                         GOTTFRIED VOSSEN, MATHIAS WESKE
1                                                                       ISABEL F. CRUZ, KIMBERLY M. JAMES
2           ATHMAN BOUGUETTAYA, BOUALEM BENATALLAH, LILY HENDRA, JAMES BEARD, KEVIN SMITH, MOURAD QUZZANI
3     CHAITAN BARU, AMARNATH GUPTA, BERTRAM LUDASCHER, RICHARD MARCIANO, YANNIS PAPAKONSTANTINOU, PAVE...
4                                     ALEXANDER BRODSKY, VICTOR E. SEGAL, JIA CHEN, PAVAL A. EXARKHOPOULO
...                                                                                                   ...
2472                                                       RAVISHANKAR RAMAMURTHY, DAVID J. DEWITT, QI SU
2473                                                                       ALFONS KEMPER, DONALD KOSSMANN
2474                                                                                  RALF HARTMUT GUTING
2475                                                                                ALEXANDER A. ANISIMOV
2476                                                                 JANET L. WIENER, JEFFREY F. NAUGHTON

           rtable_venue  rtable_year
0     SIGMOD Conference         1999
1     SIGMOD Conference         1999
2     SIGMOD Conference         1999
3     SIGMOD Conference         1999
4     SIGMOD Conference         1999
...                 ...          ...
2472            VLDB J.         2003
2473               VLDB         1994
2474               VLDB         1994
2475      SIGMOD Record         2003
2476               VLDB         1994

[2477 rows x 11 columns]

In [130]:
C1.to_csv(r'C:\Users\eetuj\OneDrive - TUNI.fi\DILA\groupProject\DILA_project\C1.csv', encoding='utf-8', index=False)

In [134]:
dfA =C1[['ltable_id', 'ltable_authors', 'ltable_title', 'ltable_venue', 'ltable_year']].copy()
#['ltable_id', 'ltable_authors', 'ltable_title', 'ltable_venue', 'ltable_year']
dfB = C1[['rtable_id', 'rtable_authors', 'rtable_title', 'rtable_venue', 'rtable_year']].copy()
#['rtable_id', 'rtable_authors', 'rtable_title', 'rtable_venue', 'rtable_year']

In [136]:
x = C1.groupby('ltable_title')

In [137]:
print(x)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000025627F8F8E0>

In [191]:
stacked = pd.concat([data_ACM, data_DBLP], keys= ['ACM', 'DBLP'], ignore_index=True)
#dfA_title = ACM.groupby('title')
#dfB_title = DBLP.groupby('title')

In [192]:
stacked.to_csv(r'C:\Users\eetuj\OneDrive - TUNI.fi\DILA\groupProject\DILA_project\stacked.csv', encoding='utf-8', index=False)

In [193]:
grouped = stacked.groupby('title')

In [194]:
print(len(stacked.groupby('title')))

2791

In [195]:
print(len(stacked))

4847

In [196]:
abc = pd.DataFrame(columns=['idDBLP', 'idACM'])

In [203]:
sum=0
grouped.size()
for key, item in grouped:
    g = grouped.get_group(key)
    if g.size == 10:
        abc = abc.append({'idDBLP' : g.get('id').iloc[1], 'idACM' : g.get('id').iloc[0]}, ignore_index=True)
        #print(g.get('id').iloc[1])

In [204]:
print(abc.head(10))

                         idDBLP   idACM
0     conf/vldb/HumborstadSHT97  671000
1          conf/vldb/JohnsonS94  672996
2       journals/sigmod/CoxEH96  245901
3       conf/sigmod/LahiriJJC98  276366
4          conf/vldb/DeenJNNW00  671702
5    journals/vldb/VerykiosME03  775455
6  journals/sigmod/LaenderRST02  565137
7      journals/tods/KotidisR01  503100
8    journals/sigmod/KeetonPH98  290602
9           conf/vldb/PantiSG00  671693

In [218]:
abc2 = abc['idACM'].apply(lambda x : str(x))

In [219]:
abc2 = abc['idDBLP'].apply(lambda x : str(x))

In [222]:
abc2.sort_values('idDBLP')

C:\Users\eetuj\AppData\Local\Temp/ipykernel_10564/3797657504.py:1: FutureWarning: In a future version of pandas all arguments of Series.sort_values will be keyword-only
  abc2.sort_values('idDBLP')

ValueError: No axis named idDBLP for object type Series